@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  font-size: calc(8px + 1.5vmin);
  font-family: 'mm_font';
  src: url('fonts/myanmarcensus.woff2') format('woff2'),
    url('fonts/myanmarcensus.woff') format('woff'),
    url('fonts/myanmarcensus.ttf') format('truetype');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  margin: 0px 50px;
}

.App-link {
  color: #61dafb;
}

.pickerWrapper {
  margin: 10px 0px;
  width: 150px;
}

.submitButton {
  background-color: #444;
  color: #eee;
  font-size: 1.2em;
  max-width: 200px;
  margin: 30px 0px;
  padding: 10px 10px;
}

.submitButton:disabled{
  background-color: #aaa;
  color: #eee;
}

.downloadLink{
  font-size: .7em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
